@page "/longrest"

<PageTitle>Long Rest</PageTitle>
<h1>Long Rest</h1>

<ul>
    <li>Mage armour - husk å oppdatere denne så du har 15 ac hvis vi kommer i kamp.</li>
    <li>Tiny hut - Vi bruker denne til å sove i hvis vi er ute på farten.</li>
    <li>Alarm - Kan vurderes hvis vi vil bli advart om at noen kommer i nærheten mens vi sover.</li>
    <li>Water breathing - hvis vi skal i nærheten av vann...</li>
</ul>

@code{
}
