@page "/shortrest"

<PageTitle>Short Rest</PageTitle>
<h1>Short Rest</h1>

<ul>
    <li>Alarm - Samme som long rest.</li>
    <li>Identify - Hvis vi har noen magiske ting som vi ikke har identifisert.</li>
</ul>
@code{
}
