
@page "/utility"

<PageTitle>Utility</PageTitle>
<h1>Utility</h1>

<ul>
    <li> 
        <ul>
            <li>eks. kontoret til en bad guy.</li>
        </ul>
    </li>
    <li>Find Familliar</li>
    <li></li>
</ul>

<MudList>
    <MudListItem Text="Detect magic - Hvis vi er i et nytt rom der vi antar det kan være loot.">
        <NestedList>
            <MudListItem>eks. kontoret til en bad guy.</MudListItem>
        </NestedList>
    </MudListItem>
    <MudListItem>Find Familliar</MudListItem>
</MudList>

@code{
}

